<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Room</h1>
<p>
    <a href="/room/listRoom">Room list</a>
</p>

<form method="post" enctype="multipart/form-data" >
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="description"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select name="status">
                    <option value="1">Empty Room</option>
                    <option value="2">Room With People</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <select name="type">
                    <option th:each="t : ${type}" th:value="${t.id}" th:text="${t.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Room"></td>
        </tr>
    </table>
</form>

</body>
</html>