<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/room/create-room">Create new room</a>

<table border="1">
    <tr>
        <th>ID  </th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Status</th>
        <th>Type</th>
        <th colspan="2">Action</th>
    </tr>
    <th:block th:each="room : ${rooms}">
        <tr>
            <td th:text="${room.id}"></td>
            <td th:text="${room.name}"></td>
            <td th:text="${room.description}"></td>
            <td >
                <img style="height: 50px; width: 50px" th:src ="@{'/file/'+${room.image}}">
            </td>
            <td th:text="${room.status == 1 } ? 'Empty Room' : 'Room With People'" >
            </td>
            <td th:text="${room.type.name}"></td>
            <td><a th:href="@{/room/edit-room/{id}(id = ${room.id})}">Edit</a></td>
            <td><a th:href="@{/room/delete-room/__${room.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>