<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create type</title>
</head>
<body>
<h1>Create new type</h1>
<form action="" method="post">
    <table>
        <tr>
            <td><label for="name">Name: </label>
            </td>
            <td><input type="text" id="name" name="name" placeholder="Enter name">
            </td>
        </tr>
        <tr>
            <td><label for="price">Price: </label>
            </td>
            <td><input type="text" id="price" name="price" placeholder="Enter price">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Create</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>