<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit type</title>
</head>
<body>
<h1>Edit type</h1>
<form th:action="@{/types/__${type.id}__/edit}" method="post" th:object="${type}">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td><label for="name">Name:</label>
            </td>
            <td><input type="text" th:field="*{name}" id="name">
            </td>
        </tr>
        <tr>
            <td><label for="price">Price:</label>
            </td>
            <td><input type="text" th:field="*{price}" id="price">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Update</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>