<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Details</h1>
<table>
    <tr>
        <td>Name:</td>
        <td th:text="${type.name}"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td th:text="${type.price}"></td>
    </tr>
    <tr>
        <td><a th:href="@{/types/__${type.id}__/edit}">Edit</a></td>
        <td><a th:href="@{/types/__${type.id}__/delete}">Delete</a></td>
    </tr>
</table>
</body>
</html>